html {
    scroll-behavior: smooth;
}

body {
	background-color: #121212;
    color: #e1e1e1;
    text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

.tpLink {
	cursor: pointer;
}

.tpLink:hover {
	color: #d97a15;
}

.coin {
	width: 20px;
	margin-bottom: -4px;
}

.icon {
	width: 35px;
}

.extendItemList {
	cursor: pointer;
}

.extendItemList:hover {
	color: #e1e1e1;
}

.extendItem {
	display: none;
}