.nav-wrapper {
    background-color: #1f1f1f;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(228, 148, 77, 0.2);
}

li.active {
    background-color: transparent;
}

.nav-content {
    background-color: #1f1f1f;
    color: #e1e1e1;
}

.menu {
    background-color: #1f1f1f;
}
